ul {
	list-style-type: none;
}

.hashflag {
	display: inline;
	width: 20px;
	margin: 2px;
}

.hashflag-large {
display: inline;
	width: 50px;
	margin: 2px;
}

footer {
	text-align: right;
}

path {
	transition: 1s;
}

.results-table {
	font-size: x-large;
	text-align: center;
	font-weight: bold;
}

.party_choice {
	margin: 2px;
}

.tory-bar {
	background-color: blue;
	min-height: 1px;
}

.results-and-change {
	position: fixed;
	z-index: 1000;
	/*float: right;*/
	right: 10px;
}

@media screen and (max-width: 600px) { .results-and-change {
	position: relative;
}}