ul {
	list-style-type: none;
}

.hashflag {
	display: inline;
	width: 20px;
	margin: 2px;
}

.hashflag-large {
display: inline;
	width: 50px;
	margin: 2px;
}

footer {
	text-align: right;
}

path {
	transition: 1s;
}

.results-table {
	font-size: x-large;
	text-align: center;
	font-weight: bold;
}